*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --blue-white: rgba(255, 255, 255, .7);
    --blue-light: rgba(199, 227, 242, 1); /* #C7E3F2 */
    --blue-medium: rgba(66, 153, 255, 1); /* #4299FF */
    --blue-dark: rgba(50, 136, 237, 1); /* #3288ED */
    --blue-darker: rgba(39, 125, 227, 1); /* #277DE3 */
    --gray-light: rgba(0, 0, 0, 0.52); /*  */
    --gray-dark: rgba(56, 56, 56, 1); /* #383838 */
}

/* ---------- HTML, BODY ELEMENTS ---------- */
html, body {
    height: 100vh;
    width: 100%;
}

body {
    background-color: var(--blue-light);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    letter-spacing: -.5px;
    line-height: 1.25;
    margin: 0 auto;
    min-width: 320px;
}

#main-wrap {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main {
    padding: .85em;
    width: 100%;
}

section {
    color: var(--blue-white);
    display: flex;
    flex-direction: column;
}

section > * {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    color: var(--gray-dark);
    font-size: 1.75em;
}

h2 {
    color: var(--gray-light);
    font-size: 1em;
}

h3 {
    color: rgba(255, 255, 255, 1);
    font-size: 1.25em;
    margin-bottom: 1.25em;
}

a, a::before, a::after {
    color: rgba(255, 255, 255, .9);
    text-decoration: underline;
    transition: color .25s ease;  
}

a:hover {
    color: rgb(50, 231, 237);
}

hr {
    border: none;
    border-bottom: 1px solid var(--blue-white);
    display: block;
    margin-bottom: 1.25em;
    opacity: .4;
    width: 100%;
}

.section-wrapper {
    padding: 2em 1.5em;
    font-size: .815em;
}

.hidden-svg {
    display: none;
}

/* ---------- TITLE CTR DECLERATIONS ---------- */
#title-ctr {
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    color: black;
    padding: 1.8em;
    position: relative;
    width: 100%;
}

#title-ctr > * {
    padding: .25em;
    white-space: nowrap;
}

#title-ctr img {
    border-radius: 100%;
    margin-bottom: .5em;
    width: 7em;
}

/* ---------- ABOUT CTR DECLERATIONS ---------- */
#about-ctr {
    background-color: var(--blue-medium);
    width: 100%;
}

#about-ctr p {
    line-height: 1.65em;
}

/* ---------- WORK CTR DECLERATIONS ---------- */
#work-ctr {
    background-color: var(--blue-dark);
    width: 100%;
}

#work-ctr #work-wrapper {
    padding-bottom: 1.25em;
}

#work-ctr li {
    line-height: 2.5em;
    list-style: none;
}

#work-ctr li::before {
    content: '';
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20d%3D%22M37.9%2C10.6l-3.2-3.2c-0.4-0.4-1-0.7-1.6-0.7c-0.6%2C0-1.2%2C0.2-1.6%2C0.7L15.9%2C23l-7-7c-0.4-0.4-1-0.7-1.6-0.7S6.1%2C15.6%2C5.6%2C16%20l-3.2%2C3.2c-0.4%2C0.4-0.7%2C1-0.7%2C1.6S2%2C22%2C2.4%2C22.5l8.6%2C8.6l3.2%2C3.2c0.4%2C0.4%2C1%2C0.7%2C1.6%2C0.7c0.6%2C0%2C1.2-0.2%2C1.6-0.7l3.2-3.2l17.2-17.2%20c0.4-0.4%2C0.7-1%2C0.7-1.6C38.6%2C11.6%2C38.4%2C11.1%2C37.9%2C10.6z%22%20fill%3D%22%23FFFFFF%22%20%2F%3E%3C%2Fsvg%3E);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 100%;
    display: inline-block;
    height: 1.22em;
    margin-right: .85em;
    width: 1.22em;
}

#work-ctr p {
    display: inline-block;
    line-height: 1.65em;
    padding-bottom: .65em;
    padding-top: .25em;
}

#work-ctr hr {
    margin-bottom: 1.25em;
}

#work-ctr .list-item {
    display: flex;
    flex-direction: row;
}

/* ---------- CONTACT CTR DECLERATIONS ---------- */
#contact-ctr {
    background-color: var(--blue-darker);
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    width: 100%;
}

#contact-ctr .section-wrapper {
    padding-bottom: 1.5em;
}

#contact-ctr hr {
    margin-bottom: 1.5em;
}

#contact-ctr a {
    text-decoration: none;
}

#contact-link-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contact-link-wrap .contact-link:hover {
    border: 1px solid rgb(50, 231, 237);
    fill: rgb(50, 231, 237);
}

#contact-link-wrap .contact-link {
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: .35em;
    fill: white;
    display: flex;
    margin-bottom: .6em;
    margin-right: .6em;
    padding: .55em 1.05em;
    transition: fill 0.25s ease, border 0.25s ease; 
}

    .contact-link svg {
        fill: inherit;
        height: 1.25em;
        transform: translateY(.1em);
        width: 1.25em;
    }

    .contact-link p {
        padding-left: .5em;
    }

/* ---------- MEDIA QUERIES ---------- */
/* Extra small devices (phones) */
@media only screen and (min-width: 361px) {
    main {
        padding: 1.25em;
    }

    .section-wrapper {
        padding: 2.75em 2em;
    }

    /* ----- TITLE CTR MEDIA @ 361 ----- */
    #title-ctr {
        padding: 2.5em;
    }

    #title-ctr > * {
        padding: .25em;
    }

    #title-ctr img {
        margin-bottom: 0;
    }

    /* ----- WORK CTR MEDIA @ 361 ----- */
    #work-ctr li::before {
        height: 1.25em;
        width: 1.25em;
    }

    /* ----- CONTACT CTR MEDIA @ 361 ----- */
    #contact-ctr .section-wrapper {
        padding-bottom: 2.25em;
    }
}

/* Small devices (phones) */
@media only screen and (min-width: 481px) {
    body {
        max-width: 33em;
    }
    
    main {
        padding: 2em;  
    }

    hr {
        border-bottom: 2px solid var(--blue-white);
        margin-bottom: 1.25em;
    }
    
    h3 {
        color: rgba(255, 255, 255, 1);
        font-size: 1.2em;
        margin-bottom: 1.25em;
    }

    .section-wrapper {
        padding: 2.5em 2em;
        font-size: .85em;
    }

    /* ----- TITLE CTR MEDIA @ 481 ----- */
    #title-ctr {
        padding: 2.5em;
    }

    #title-ctr > * {
        padding: .35em;
    }

    /* ----- WORK CTR MEDIA @ 481 ----- */
    #work-ctr #work-wrapper {
        padding-bottom: 1.5em;
    }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 737px) {
    body {
        max-width: 35em;
    }
    
    main {
        padding: 3.15em; 
    }

    h1 {
        font-size: 1.65em;
    }

    h2 {
        font-size: .85em;
    }

    h3 {
        font-size: 1em;
        text-align: right;
    }

    hr {
        margin: 0 2.5em;
        border-bottom: none;
        border-right: 1px solid var(--blue-white);
        opacity: .3;
    }

    .section-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 3em 2.5em;
    }

    .section-wrapper p {
        font-size: .85em;
    }

    .section-wrapper > :nth-child(1) {
        width: 30%;
    }

    .section-wrapper > :nth-child(2) {
        width: 0%;
    }

    .section-wrapper > :nth-child(3) {
        width: 70%;
    }

    /* ----- TITLE CTR MEDIA @ 737 ----- */
    #title-ctr {
        padding: 3em;
    }
    
    #title-ctr > * {
        padding: .25em;
        white-space: nowrap;
    }

    #title-ctr img {
        border-radius: 100%;
        margin-bottom: .5em;
        width: 6em;
    }

    /* ----- WORK CTR MEDIA @ 737 ----- */
    #work-ctr hr {
        margin-bottom: 1em;
    }

    /* ----- CONTACT CTR MEDIA @ 737 ----- */
    #contact-ctr .section-wrapper {
        padding-bottom: 2.65em;
    }

    #contact-ctr hr {
        margin-bottom: .25em;
    }
}

/* Medium devices (landscape tablets)*/
@media only screen and (min-width: 981px) {
    body {
        max-width: 40em;
    }
    
    main {
        padding: 4em; 
    }

    h1 {
        font-size: 1.85em;
    }

    h2 {
        font-size: .95em;
    }

    h3 {
        font-size: 1.1em;
        text-align: right;
    }

    .section-wrapper {
        padding: 3.5em 2em;
    }

    .section-wrapper p {
        font-size: 1.05em;
    }

    /* ----- TITLE CTR MEDIA @ 981 ----- */
    #title-ctr {
        padding: 3.35em;
    }
    
    #title-ctr > * {
        padding: .3em;
    }

    #title-ctr img {
        width: 7.25em;
    }

    /* ----- WORK CTR MEDIA @ 981 ----- */
    #work-ctr #work-wrapper {
        padding-bottom: 2.35em;
    }
    
    #work-ctr li {
        line-height: .85em;
        padding: .45em 0;
    }
    
    #work-ctr li::before {
        height: 1.5em;
        margin-right: .65em;
        width: 1.5em;
    }

    /* ----- CONTACT CTR MEDIA @ 981 ----- */
    #contact-ctr .section-wrapper {
        padding-bottom: 3em;
    }
}

/* Extra large devices (large laptops and desktops) */
@media only screen and (min-width: 1681px) {
    body {
        max-width: 60em;
    }
    
    main {
        padding: 5.25em; 
    }

    h1 {
        font-size: 2.55em;
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.5em;
        text-align: right;
    }

    .section-wrapper {
        padding: 5em 6em;
    }

    .section-wrapper p {
        font-size: 1.35em;
    }

    /* ----- TITLE CTR MEDIA @ 1681 ----- */
    #title-ctr {
        padding: 4.5em;
    }
    
    #title-ctr > * {
        padding: .35em;
    }

    #title-ctr img {
        width: 10em;
    }

    /* ----- WORK CTR MEDIA @ 1681 ----- */
    #work-ctr #work-wrapper {
        padding-bottom: 3.5em;
    } 
    
    #work-ctr li {
        line-height: 2.85em;
    }
    
    #work-ctr li::before {
        height: 1.75em;
        margin-right: .85em;
        width: 1.75em;
    }

    /* ----- CONTACT CTR MEDIA @ 1681 ----- */
    #contact-ctr .section-wrapper {
        padding-bottom: 4.75em;
    }

    .contact-link svg {
        height: 1.5em;
        transform: translateY(.35em);
        width: 1.5em;
    }
    
    .contact-link p {
        padding: .25em .4em; 
        padding-left: .3em;
    }
}